/* RESET CSS */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.row{
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
}
.row .col{
    flex: 1;
    text-align: center;
}


.col p{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}